<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">

    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoModal(templateNovo)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </button>
  </div>
</div>
<br/>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>

      </th>
      <th>#</th>
      <th>Título</th>
      <th>Gênero</th>
      <th>Sinopse</th>
      <th>Ativo</th>
      <th colspan="2">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="livros && livros.length">
    <tr *ngFor="let livro of livros">
      <td>
        <img  src="{{url}}{{livro.imagemURL}}?_ts={{dataAtual}}"
          [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
        </td>
        <td>{{livro.livroId}}</td>
        <td>{{livro.titulo}}</td>
        <td>{{livro.genero}}</td>
        <td>{{livro.sinopse}}</td>
        <td>{{livro.ativo == true ? "Ativo" : "Inativo"}}</td>
        <td>
          <div class="btn-group">
            <button *ngIf="livro.ativo"  class="btn btn-sm btn-success" tooltip="Reservar" (click)="reservarModal(template, livro)">
              <i class="fa fa-calendar-check-o "></i>
            </button>
            &nbsp;
            <button *ngIf="livro.ativo" class="btn btn-sm btn-success" tooltip="Emprestimos" (click)="emprestimoModal(templateEmprestimo, livro)">
              <i class="fa fa-eraser"></i>
            </button>
            &nbsp;
            <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarModal(templateNovo, livro)">
              <i class="fa fa-edit"></i>
            </button>
            &nbsp;
            <button *ngIf="livro.ativo" class="btn btn-sm btn-danger" tooltip="Inativar" (click)="disableModal!(enableTemplate, livro)">
              <i class="fa fa-user-times"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!livros">
      <tr>
        <td colspan="7" class="text-center">
          <h4>
            Nenhum resultado encontrado!
          </h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ livro.titulo }}</h4>
      <button type="button" class="close pull-right"
      aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-row">
        <div class="form-group col-md-6" >
          <label>Data Reserva</label>
          <input type="text" (ngModelChange)="changeDate($event)" class="form-control" bsDatepicker value="{{ dataReserva | DateTimeFormatPipe}}"
          [(ngModel)]="dataReserva" [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }" [ngClass]="{'is-invalid': registerForm.get('dataReserva').errors
          && registerForm.get('dataReserva').touched}" formControlName="dataReserva" placeholder="">
          <div *ngIf="registerForm.get('dataReserva').hasError('required')
          && registerForm.get('dataReserva').touched" class="invalid-feedback">
          Data é obrigatório.
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer d-flex">
    <button class="btn btn-secondary" (click)="modalRef.hide()">
      Fechar
    </button>
    <button class="btn btn-primary ml-auto" (click)="reservar()">
      Salvar
    </button>
  </div>
</div>
</ng-template>


<ng-template #templateEmprestimo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ livro.titulo }}</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerForm">
    <div class="form-row">
      <div class="form-group col-md-6" >
        <label>Data Emprestimo</label>
          <input   class="form-control"
        [minDate]="minDate" [maxDate]="maxDate"
        bsDaterangepicker  (ngModelChange)="changeRange($event)"
        [(ngModel)]="dateRange" [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }" [ngClass]="{'is-invalid': registerForm.get('dateRange').errors
        && registerForm.get('dateRange').touched}" formControlName="dateRange" placeholder="">
        <div *ngIf="registerForm.get('dateRange').hasError('required')
        && registerForm.get('dateRange').touched" class="invalid-feedback">
        Data é obrigatório.
      </div>
    </div>
  </div>
</form>
<div class="modal-footer d-flex">
  <button class="btn btn-secondary" (click)="modalRef.hide()">
    Fechar
  </button>
  <button class="btn btn-primary ml-auto" (click)="emprestar()">
    Salvar
  </button>
</div>
</div>
</ng-template>


<ng-template #templateNovo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ tituloLivro }}</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="col-lg-8">

      <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="">Tíutlo:</label>
          <input class="form-control" type="text" formControlName="titulo" [ngClass]="{ 'is-invalid': registerForm.get('titulo').errors &&
          registerForm.get('titulo').touched}" placeholder="Insira o Título" />
          <div *ngIf="registerForm.get('titulo').hasError('required') &&
          registerForm.get('titulo').touched" class="invalid-feedback">
          Título é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="">Gênero:</label>
        <input class="form-control" type="text" formControlName="genero" [ngClass]="{ 'is-invalid': registerForm.get('genero').errors &&
        registerForm.get('genero').touched}" placeholder="Insira o Gênero" />
        <div *ngIf="registerForm.get('genero').hasError('required') &&
        registerForm.get('genero').touched" class="invalid-feedback">
        Gênero é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="">Autor:</label>
      <input class="form-control" type="text" formControlName="autor" [ngClass]="{ 'is-invalid': registerForm.get('autor').errors &&
      registerForm.get('autor').touched}" placeholder="Insira o Autor" />
      <div *ngIf="registerForm.get('titulo').hasError('required') &&
      registerForm.get('autor').touched" class="invalid-feedback">
      Autor é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="">Sinopse:</label>
    <textarea class="form-control"  rows="5" cols="33" type="text" formControlName="sinopse" [ngClass]="{ 'is-invalid': registerForm.get('sinopse').errors &&
    registerForm.get('sinopse').touched}" placeholder="Insira a Sinopse"></textarea>
    <div *ngIf="registerForm.get('sinopse').hasError('required') &&
    registerForm.get('sinopse').touched" class="invalid-feedback">
    Sinopse é obrigatório.
  </div>
</div>

<div class="form-group col-md-9">
  <label>Capa</label>
  <table>
    <tr>
      <td>
        <button class="btn btn-success" (click)="file.click()">
          Enviar Imagem
        </button>
        <input type="file" #file [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors
        && registerForm.get('imagemURL').touched}" (change)="onFileChange($event)" class="form-control is-invalid"
        formControlName="imagemURL" placeholder="" style="display: none">
      </td>
    </tr>
  </table>
  <div *ngIf="registerForm.get('imagemURL').hasError('required')
  && registerForm.get('imagemURL').touched" class="invalid-feedback">
  Imagem é obrigatório.
</div>
</div>
</form>
</div>
</div>
<div class="modal-footer d-flex">
  <button class="btn btn-secondary" (click)="modalRef.hide()">
    Fechar
  </button>
  <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao()">
    Salvar
  </button>
</div>
</div>
</ng-template>



<ng-template #enableTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ livro.titulo }}</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="registerForm">
    <div class="form-row">
      Tem certeza que deseja Inativar o Livro?
      <br/>
      <br/>
    </div>
  </form>
  <div class="modal-footer d-flex">
    <button class="btn btn-secondary" (click)="modalRef.hide()">
      Fechar
    </button>
    <button class="btn btn-danger ml-auto" (click)="livroDisable(livro)" >
      Inativar
    </button>
  </div>
</div>
</ng-template>
